html,
body {
    height: auto;
    min-height: 100%;
}
body {
    background: #070503;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #af4a1f;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #af4a1f;
    }
}
main {
    header {
        span {
            font-family: 'Letterboard';
            font-size: 20px;

            display: block;

            text-align: center;
            letter-spacing: 2px;

            color: #af4a1f;
        }
        time {
            font-family: 'Raleway';
            font-size: 22px;

            margin-top: 15px;

            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;

            color: #917347;
        }
    }
    h1 {
        font-family: 'Letterboard';
        font-size: 120px;
        line-height: 1;

        margin: auto;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
    }

    .overlay {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: cover;

        filter: blur(4px);

        &::after {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 100%;

            content: '';

            background: rgba(0, 0, 0, 0.75);
        }
    }
}
