html,
body {
    height: auto;
    min-height: 100%;
}
body {
    background: #070503;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #f3b6d5;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #f3b6d5;
    }
}
main {
    header {
        span {
            font-family: 'Letterboard';
            font-size: 20px;

            display: block;

            text-align: center;
            letter-spacing: 2px;

            color: #af4a1f;
        }
    }
    h1 {
        font-family: 'Letterboard';
        font-size: 120px;
        line-height: 1;

        margin: auto;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
    }
}
