{{#extend "title"}}404 |{{/extend}}
{{#extend "body_id"}}id="four-oh-four"{{/extend}}

{{#extend "body"}}
<div class="overlay-bg"></div>
<header>
    <h1>Oh No!</h1>
    <span>We're sorry, but this page could not be found.</span>
</header>
{{/extend}}

{{#extend "js"}}
{{/extend}}