{{#extend "body_id"}}
id="home"
{{/extend}}
{{#extend "body"}}
<div class="overlay"></div>
<header>
    <h1>Burzum</h1>
    <span>An Excalibur Night Club | Lavender Beds | W22 | P3 </span>
    <time>Thursday - Saturday : 1 AM to 4 AM EST</time>
</header>
{{/extend}}

{{#extend "js"}}
{{/extend}}