#admin {
    &.gallery {
        img {
            max-width: 50%;
        }

        progress {
            transition: all 550ms ease-in-out;

            opacity: 0;
            &.is-showing {
                opacity: 1;
            }
        }
    }
}