
html,
body {
    height: 100%;
    min-height: 100%;
}

main {
    display: flex;

    min-height: 100%;
}

h1 {
    font-family: 'Letterboard';
    font-size: 40px;
    line-height: 1;

    margin-top: 25px;

    text-transform: uppercase;

    color: #000;
}

aside {
    min-height: 100vh;

    background: #070503;
    box-shadow: 6px 0 4px -4px rgba(0, 0, 0, 0.5);
    img {
        display: block;

        margin: 25px auto 25px auto;

        filter: grayscale(1);
    }
    nav {
        position: sticky;
        top: 25px;

        margin-top: 50px;

        ul {
            list-style: none;
            li {
                font-size: 18px;

                margin-right: 8px;
                margin-bottom: 15px;

                transition: all 550ms ease-in-out;

                color: #fff;
                border-right: 2px solid transparent;
                border-radius: 2px;
                i {
                    font-size: 25px;

                    width: 50px;

                    color: #af4a1f !important;
                }
                a {
                    font-family: 'Letterboard';

                    transition: color 550ms ease-in-out;
                    text-decoration: none;
                    letter-spacing: 2px;

                    color: #fff;
                    &:hover {
                        color: #af4a1f;
                    }
                }
                &:hover {
                    border-color: #fff;
                }
            }
        }
    }
    + section {
        background: #58616e;
    }
}
