#admin {
    height: auto;
    min-height: 100%;
    &.login {
        height: calc(100vh - 50px);

        background: #070503;
        main {
            position: relative;

            display: grid;

            height: 100%;

            place-content: center;

            .overlay {
                position: fixed;
                z-index: -1;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background: url(../../img/bg-home.jpg) no-repeat;
                background-size: cover;

                filter: blur(4px);

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: block;

                    width: 100%;
                    height: 100%;

                    content: '';

                    background: rgba(0, 0, 0, 0.75);
                }
            }
            form {
                .field {
                    label {
                        font-family: Letterboard;
                        font-size: 20px;

                        display: block;

                        margin-bottom: 10px;

                        letter-spacing: 2px;

                        color: #fff;
                    }
                    input {
                        font-family: Raleway;
                        font-size: 18px;

                        width: 300px;
                        height: 40px;
                        margin-bottom: 10px;
                        padding-left: 10px;

                        transition: all 550ms ease-in-out;
                        letter-spacing: 2px;

                        color: #fff;
                        border: none;
                        border: 1px solid transparent;
                        outline: none;
                        background: rgba(0, 0, 0, 0.75);
                        &:focus {
                            border-color: #af4a1f;
                        }
                    }
                }
                button {
                    font-family: Letterboard;

                    width: 100px;
                    height: 40px;
                    margin-top: 25px;
                    margin-left: auto;

                    letter-spacing: 2px;

                    color: #fff;
                    border: none;
                    background: #af4a1f;
                }
            }
        }
    }
}