#admin {
    &.staff {
        #staff {
            thead {
                border-radius: 5px;
                background-color: rgba(249,250,251, 1);
                th {
                    font-family: raleway;
                    font-size: 14px;

                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
            tr {
                &:nth-child(even) {
                    background-color: rgba(249,250,251, 1);
                }
                &:nth-child(odd) {
                    background-color: rgba(249,250,251, 0.96);
                }
            }
        }
        .dj,
        .dancer {
            display: none;
            &.is-showing {
                display: flex;
            }
        }
        .dataTable-dropdown {
            label {
                color: #000;
            }
        }
        .dataTable-bottom {
            color: #000;
            .dataTable-info {
                color: #000;
            }
            .dataTable-pagination {
                li {
                    &.active {
                        a {
                            color: #000;
                        }
                    }
                }
                a {
                    color: #000;
                }
            }
        }
    }
}