{{#extend "title"}}Events | {{/extend}}
{{#extend "body_id"}}id="events"{{/extend}}

{{#extend "body"}}
<header>
    <div class="container">
        <div class="row">
            <div class="dates col">
                <div class="date selected" data-date="Sun Aug 04 2019 00:00:00 GMT+0000">
                    <div class="day">04</div>
                    <div class="month">
                        <span>Aug</span>
                        <span>Sun</span>
                    </div>
                </div>
            </div>
            <h3>DJ Blue</h3>
        </div>
    </div>
</header>
<section id="calendar">
    <div class="container">
        <div class="events">
            <div class="event col-12 col-lg-6">
                <div class="details" style="border-color:#ffffff">
                    <div class="row">
                        <div class="icon col-3">
                            <img
                                src="https://web.archive.org/web/20191211225044im_/https://halooutpostdiscovery.com/wp-content/uploads/2019/04/OutpostDiscoveryLogo_Stenciled_LIGHT_RGB.png">
                        </div>
                        <div class="about col-6">
                            <h2>Pre-Party</h2>
                            <p class="time">12:45 AM - 1:00 AM</p>
                            <span>
                                <p>Capicola pastrami corned beef shankle ball tip ham. Kielbasa frankfurter picanha pork
                                    loin strip steak flank shank, kevin ham ribeye pancetta. </p>
                            </span>
                        </div>
                        <div class="location col-3">
                            <p>Location: <span>Outside</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event col-12 col-lg-6">
                <div class="details" style="border-color:#81d742">
                    <div class="row">
                        <div class="icon col-3">
                            <img
                                src="https://web.archive.org/web/20191211225044im_/https://halooutpostdiscovery.com/wp-content/uploads/2019/04/OutpostDiscoveryLogo_Stenciled_LIGHT_RGB.png">
                        </div>
                        <div class="about col-6">
                            <h2>Club Opens</h2>
                            <p class="time">1:00 am - 4:00 am</p>
                            <span>
                                <p>Capicola pastrami corned beef shankle ball tip ham. Kielbasa frankfurter picanha pork
                                    loin strip steak flank shank, kevin ham ribeye pancetta. </p>
                            </span>
                        </div>
                        <div class="location col-3">
                            <p>Location: <span>Inside/Outside</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="event col-12 col-lg-6">
                <div class="details" style="border-color:#ff00c7">
                    <div class="row">
                        <div class="icon col-3">
                            <img
                                src="https://web.archive.org/web/20191211225044im_/https://halooutpostdiscovery.com/wp-content/uploads/2019/04/OutpostDiscoveryLogo_Stenciled_LIGHT_RGB.png">
                        </div>
                        <div class="about col-6">
                            <h2>Theme For the Night</h2>
                            <p class="time">2:00 am - 3:00 am</p>
                            <span>

                            </span>
                        </div>
                        <div class="location col-3">
                            <p>Location: <span>Inside/Outside</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="overlay"></div>

{{/extend}}

{{#extend "js"}}
{{/extend}}