{{#extend "title"}}Admin |{{/extend}}
{{#extend "body_id"}}id="admin"{{/extend}}


{{#extend "body_class"}}class="staff edit"{{/extend}}

{{#extend "body"}}
<div class="container">
    <form>
        <div class="row">
            <div class="preview">
                <h1>Preview</h1>
                <div class="preview-slide">
                    <div class="overlay"></div>
                    <div class="name"></div>
                    <div class="role">Dancer</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="field col-3">
                <label>Name</label>
                <input type="text" name="name">
            </div>

            <div class="field col-3">
                <label>Photo</label>
                <input type="file" name="photo">
            </div>
            <div class="field col-3">
                <label>Featured</label>
                <select name="featured">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="field col-3">
                <label>Header Cutout</label>
                <input type="file" name="cutout">
            </div>
            <div class="field col-3">
                <label>Role</label>
                <select name="role">
                    <option value="dancer">Dancer</option>
                    <option value="bouncer">Bouncer</option>
                    <option value="dj">DJ</option>
                    <option value="management">Management</option>
                    <option value="bartender">Bartender</option>
                </select>
            </div>
            <div class="field col-3">
                <label>Active</label>
                <select name="active">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>

        <div class="row dj">
            <div class="field col-3">
                <label>Stream</label>
                <input type="text" name="stream">
            </div>

            <div class="field col-3">
                <label>Logo</label>
                <input type="file" name="logo">
            </div>
        </div>

        <div class="row">
            <div class="field">
                <label>Description</label>
                <textarea name="description" id="editor"></textarea>
            </div>
        </div>


        <button type="submit">Submit</button>
        <div class="message"></div>
        <progress id="file" value="0" max="100"></progress>

    </form>
</div>
{{/extend}}
{{#extend "js"}}
<script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
<script src="/js/burzum/staff/add.js"></script>
{{/extend}}