{{#extend "title"}}Admin |{{/extend}}
{{#extend "body_id"}}id="admin"{{/extend}}


{{#extend "body_class"}}class="gallery add"{{/extend}}

{{#extend "body"}}
<div class="container">
    <form>
        <div class="row">
            <div class="preview">
                <h1>Preview</h1>
                <img>
            </div>
        </div>
        <div class="row">
            <div class="field col-3">
                <label>Photo</label>
                <input type="file" name="photo" value="{{ staff.photo }}">
            </div>

            <div class="field col-3">
                <label>Author</label>
                <input type="text" name="author" value="{{ photo.author }}">
            </div>
        </div>


        <button type="submit">Submit</button>
        <div class="message"></div>
        <progress id="file" value="0" max="100"></progress>

    </form>
</div>
{{/extend}}
{{#extend "js"}}
<script src="/js/burzum/gallery/add.js"></script>
{{/extend}}